@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
}
.header_content{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    max-height: 50px;
    margin: 0 auto;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;

}
.logo_icon{
    height: 5.875rem;
    width: 1.938rem;
}
.navbar{
    display: none;
    gap: 1.5rem;
    
}
@media screen and (min-width: 768px) {
    .navbar{
        display: flex;

    }
}
.navlink{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.navlink:hover{
    color: var(--link-color);

}
.contact_button{
    display: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--light-gray);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;
}
@media screen and (min-width:768px) {
    .contact_button{
        display: block;
    }
    
}
.contact_button:hover{
    background-color: #5254f8;
}
.menu_button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 1rem;

}
@media screen and (max-width:768px){
    .menu_button{
        display: block;
    } 
}
.menu_icon{
    height: 1.5rem;
    font-weight: 1.5rem;
}

.main_section{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content_left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;

}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.section_label{
    font-size: 1.15rem;
    color: var(--primary-color);
    font-weight: 600;

}
.section_title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section_desc{
    color: var(--gray);
    font-size: 1.13rem;
}
.button_group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
}
.Start_button ,
.Tour_button{
    /* border: none; */
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--light-gray);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    transform: all 0.1s;

}
.Start_button:hover{
    background-color: #5254f8;
}
.Tour_button:hover{
    background-color: var(--gray);
}

.Tour_button{
    background-color: var(--dark-gray);
}
.content_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_container{
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}
.section_img{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:760px) {
    .main_section{
        flex-direction: row;
    }
    .content_left{
        max-width: 50%;
        text-align: left;
    }
    .section_title{
        padding-left: 0;
    }
    .button_group{
        justify-content: start;
        padding-left: 0;
    }
    .main_section{
        align-items: center;
    }
    .img_container{
        height: 65vh;
    }
}
.company_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
    animation: slideFromLeft 1s ease forwards;
}
.trust_para{
    font-weight: 600;
    font-size: 2rem;
}

.company_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem;
    
}
.company_logos{
   font-size: 1rem;
   font-weight: 500;
   color: var(--gray);
   gap: 0.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
} 
.svg_img{
   height: 40px;
}
.company_text{
   font-size: 1rem; 
  
   
}
@media screen and (min-width:760px) {
    .company_grid{
        grid-template-columns: repeat(4,1fr);
    }
    
}
.feature_container{
    background-color: var(--light-gray);
    padding: 2.5rem;
    text-align: center;
}
.feature_content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info_heading{
    font-size: 2rem;
    font-weight: 700;
}
.info_para{
    color: var(--gray);
}
.feature_grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.3rem;
    /* background-color: var(--dark-gray); */

}
.feature_svg{
    height: 1.5rem;
    width: 1.5rem;
}
.icon_container{
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature_card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: #5254f8;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1.5rem;
}
.feature_title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}
.feature_desc{
    color: white;
}
.feature_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature_card:nth-child(2){
    background-color: #fcbf58;
}
.feature_card:nth-child(3){
    background-color: #ff6289;
}
.feature_card:nth-child(4){
    background-color: #44bfc3;
}
.feature_card:nth-child(5){
    background-color: #77b05d;
}
.feature_card:nth-child(6){
    background-color: #7d78b1;
}
.feature_card:nth-child(1){
   background-color: #4a90e2;
}
@media screen and (max-width:760px) {
    .feature_grid{
        grid-template-columns: repeat(1,1fr);
}
}
.test_container{
    background-color: var(--background-color);
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1080px;
   
}
.test_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    width: 100%;
}
.avt{
    height: 5rem;
    width: 5rem;

}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(231, 226, 226);
    border-radius: 1rem;
    padding: 0.5rem;
    gap: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.goodcomments{
    font-size: 0.875rem;
    color: var(--dark-gray);
}
.test_title{
    font-size: 1.875rem;
    padding: 1rem;
}
.box:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border: 1px solid blue;
}
.Name{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1rem;
}
.Person_info{
    font-size: 0.875rem;
    color: var(--dark-gray);
}
.test_content{
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}
.news_content{
    display: flex;
    max-width: 250px;
    max-width: 950px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    overflow: hidden;
}
.news_leftbox{
    height: 250px;
    min-width: 450px;
    display: none;
}
.news_img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.news_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.news_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* padding: 1rem; */
}
.news_rightbox{
    padding: 0.5rem;
    background-color: var(--light-gray);
    height: 250px;
    width: 500px;
    border-radius: 1rem;
}
.news_heading{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--primary-color);
}
.news_para{
    margin-left: 2rem;
    color: var(--gray);
}
.news_form{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}
#Email{
    height: 2rem;
    width: 8rem;
    text-align: center;
    border-radius: 2px;
    border: 1px solid var(--gray);
    font-size: 0.8rem;
    background-color: var(--background-color);
}
.news_button{
    background-color: var(--primary-color);
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 2px;
    
    text-align: center;
    font-size: 0.8rem;
}
.news_anchor{
    text-decoration: none;
    color: var(--light-gray);
}
.news_button:hover{
    background-color: var(--link-color);
    transform: scale(1.05);
}
#Email:hover{
    transform: scale(1.05);
}
.service_para{
    /* margin-left: 2rem; */
    font-size: 0.7rem;
}
.news_service{
    text-decoration: underline;
    text-decoration-style: wavy;
}
@media screen and (min-width:760px) {
.news_leftbox{
    display: block;
}
    
}
.footer_container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    gap: 1rem;

}
.footer_content{
    max-width: 1280px;
    padding: 1rem;
    text-align: left;
    display: flex;
    /* justify-content: space-between; */
    
}
.footer_title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    
}
.left_footer{
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 3rem;
    
}
.logo_link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin: -0.5rem;
    text-decoration: none;
    color: var(--text-color);
}
.footer_img{
    height: 6rem;
    width: 2rem;
    gap: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: start;
}
.footer_brands{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.7rem;
    padding-left: 0rem;
    
}
.footer_para{
    font-size: 1.2rem;
   margin-bottom: 1.4rem;
   color: #777;
}
.right_footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 6.5rem;
    padding: 3.5rem 0.5rem;
}
.heading{
    font-size: 1.05rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
ul{
    list-style-type: none;
}
.foot_link{
    color: #777;
    font-size: 0.8rem;
    
}
.footer_links_list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer_copyright{
    padding-bottom: 2rem;
    padding-top: 1.2rem;
    margin: 1rem;
    color: var(--gray);
    border-top: 1px solid #E5E7EB ;
}
@media screen and (max-width:1080px) {
    .footer_content{
        display: flex;
        flex-direction: column;
    }
    .footer_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 850px){
.right_footer{
    grid-template-columns: repeat(2,1fr);
} 
}